<template id='CollectorLinksReportTable'>
    <tr>
        <td class='col-md-1'>ADC</td>
        <td class='col-md-1'>Port</td>
        <td class='col-md-1'>Data</td>
        <td class='col-md-1'>Events received</td>
        <td class='col-md-1'>Good events</td>
        <td class='col-md-1'>Late events</td>
        <td class='col-md-1'>Format errors</td>
        <td class='col-md-1'>Link errors</td>
        <td class='col-md-1'>Event packets</td>
        <td class='col-md-1'>Pointer packets</td>
        <td class='col-md-1'>Parameter packets</td>
    </tr>
    {{# links}}
        <tr id='{{id}}{{.}}row'>
            <td id='{{id}}{{.}}ADC'>-</td>
            <td id='{{id}}{{.}}Port'>-</td>
            <td id='{{id}}{{.}}Data'>-</td>
            <td id='{{id}}{{.}}EventCount'>-</td>
            <td id='{{id}}{{.}}GoodCount'>-</td>
            <td id='{{id}}{{.}}LateCount'>-</td>
            <td id='{{id}}{{.}}FormatErrorCount'>-</td>
            <td id='{{id}}{{.}}LinkErrorCount'>-</td>
            <td id='{{id}}{{.}}evtPkts'>-</td>
            <td id='{{id}}{{.}}ptrPkts'>-</td>
            <td id='{{id}}{{.}}parPkts'>-</td>
        </tr>
    {{/ links}}
</template>